<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mozambique-demo</title>
  </head>
  <body>

    <div id="app">
      <v-mapbox
        access-token="pk.eyJ1Ijoic2lnZ3lmIiwiYSI6Il8xOGdYdlEifQ.3-JZpqwUa3hydjAJFXIlMA"
        map-style="mapbox://styles/mapbox/satellite-streets-v10"
        :center="[34.85752836605343, -19.830506337137294]"
        :zoom="10"
        :pitch="60"
        :bearing="-132"
        id="map"
        >
        <v-mapbox-source
          :options="source"
          v-for="source in sources"
          :key="source.id"></v-mapbox-source>
        <v-mapbox-layer
          :options="layer"
          v-for="layer in layers"
          :key="layer.id"></v-mapbox-layer>
        <v-mapbox-geocoder></v-mapbox-geocoder>
      </v-mapbox>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
