<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mozambique-demo</title>
  </head>
  <body>

    <div id="app">
      <v-mapbox
        access-token="pk.eyJ1Ijoic2lnZ3lmIiwiYSI6Il8xOGdYdlEifQ.3-JZpqwUa3hydjAJFXIlMA"
        map-style="mapbox://styles/mapbox/satellite-streets-v10"
        :center="[34.85752836605343, -19.830506337137294]"
        :zoom="10"
        :pitch="60"
        :bearing="-132"
        :min-zoom="5"
        id="map"
        ref="map"
        >
        <v-mapbox-source
          :options="source"
          v-for="source in sources"
          :key="source.id" slot="sources"></v-mapbox-source>
        <v-mapbox-layer
          :options="layer"
          v-for="layer in layers"
          :key="layer.id" slot="layers"></v-mapbox-layer>
        <v-mapbox-geocoder></v-mapbox-geocoder>
        <v-mapbox-navigation-control></v-mapbox-navigation-control>
      </v-mapbox>
      <v-card id="menu">
        <v-list two-line>
          <v-list-item v-for="layer in layers" :key="layer.id" >
            <v-list-tile avatar>
              <v-list-tile-action >
                <v-switch v-model="layer.active" />
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ layer.metadata.name }}</v-list-tile-title>
                <v-list-tile-sub-title>{{ layer.metadata.subtitle }} </v-list-tile-sub-title>
              </v-list-tile-content>
              <v-list-tile-avatar>
                <img :src="'static/images/' + layer.metadata.avatar" />
              </v-list-tile-avatar>
            </v-list-tile>
          </v-list-item>
        </v-list>
      </v-card>

    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
